@model ObservaTerra.Web.Models.GraphModel
@{
    ViewBag.Title = "CreateText";
}

<h2>CreateText</h2>

@using (Html.BeginForm())
{ 
    <label>Name</label>
    @Html.TextBoxFor(model => model.Name)
    <hr />
    <label>Headers:</label>
    @Html.TextAreaFor(model => model.Keys)
    <br />
    <label>Values:</label>
    @Html.TextAreaFor(model => model.Values)
    <input type="submit" value="Crear" class="btn btn-default" />
}