@model ObservaTerra.DomainModel.TextComponent
@{
    ViewBag.Title = "CreateText";
}

<h2>Create new text document</h2>

@using (Html.BeginForm())
{ 
    <label>Name:</label>
    @Html.TextBoxFor(model => model.Name)
    <hr />
    @Html.TextAreaFor(model => model.Text, new { @width = "100%" })
    <br />
    <input type="submit" value="Create" class="btn btn-default" />
}