@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Este es el prototipo (Versión Alfa) del proyecto ObservaTerra #22 de la asignatura Arquitectura del Software
                de la Escuela de Ingeniería Informática.
            </p>
        </div>
    </section>
}
<h3>Sigue estos pasos:</h3>
<ol class="round">
    <li class="one">
        <h5>Selecciona un indicador</h5>
        Explicación sobre los indicadores...
    </li>

    <li class="two">
        <h5>Selecciona una observación</h5>
        Descripción sobre las observaciones
    </li>

    <li class="three">
        <h5>Obtienes toda la información</h5>
        En oferta, solo para ti.
    </li>
</ol>
