@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
    
<section class="contact">
    <header>
        <h3>Miembros</h3>
    </header>
    <h4>Diego Zapico Ferreiro</h4>
    <p>
        Dirección de Github:<br />
        UO:
    </p>

    <h4>Diego Zapico Ferreiro</h4>
    <p>
        Dirección de Github:<br />
        UO:
    </p>

    <h4>Diego Zapico Ferreiro</h4>
    <p>
        Dirección de Github:<br />
        UO:
    </p>

    <h4>Diego Zapico Ferreiro</h4>
    <p>
        Dirección de Github:<br />
        UO:
    </p>

    <h4>Diego Zapico Ferreiro</h4>
    <p>
        Dirección de Github:<br />
        UO:
    </p>
</section>