@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Miembros</h3>
    </header>
    <h4>Diego Zapico Ferreiro</h4>
    <p>
        UO212247
        <br />
        <a href="https://github.com/zapiko">Github</a>
    </p>

    <h4>Javier Delgado Fernandez</h4>
    <p>
        UO228152
        <br />
        <a href="https://github.com/JavierDelgadoFernandez">Github</a>
    </p>

    <h4>Raul Estrada Ballesteros</h4>
    <p>
        UO225271
        <br />
        <a href="https://github.com/RaulEstrada">Github</a>
    </p>

    <h4>Maria Leyva Vallina</h4>
    <p>
        UO223804
        <br />
        <a href="https://github.com/marialeyva">Github</a>
    </p>

    <h4>Luis Martinez Menéndez</h4>
    <p>
        UO216767
        <br />
        <a href="https://github.com/LuisMartinez15">Github</a>
    </p>
</section>