@model ObservaTerra.Web.Models.IndicatorModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    //Falta el calendario

    <label>Name:</label>
    @Html.TextBoxFor(model => model.Name)
    <hr />
    <label>Area:</label>
    @Html.DropDownListFor(model => model.SelectedArea, Model.Areas, new { @style = "width: 100%" })
    
    <br />
    <label>Observation:</label>
    
    @Html.ListBoxFor(model => model.SelectedObservations, Model.Observations, new { @style = "width: 100%" })

    <input type="submit" value="Crear" class="btn btn-default" />
}

<div>
    <a class="btn btn-danger btn-sm" href="/Observations" type="button">Cancelar</a>
</div>