@model IEnumerable<ObservaTerra.DomainModel.Indicator>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indicators list</h2>

@Html.ActionLink("Nuevo", "Create", null, new { @type = "button", @class = "btn btn-primary btn-lg glyphicon-plus btn-sm" })

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            <b>Title</b>
        </th>
        <th>
            <b>Area</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("ID" + item.Id, "Details", "Indicators", new { id = item.Id }, null)
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Area.Name
            </td>
        </tr>
    }

</table>