@model ObservaTerra.Web.Models.ObservationModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new observation</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <label>Name:</label>
    @Html.TextBoxFor(model => model.Name)
    
    <hr />
    <label>Components:</label>
    @Html.ListBoxFor(model => model.ComponentsSelected, Model.Components, new { @style = "width: 100%"} )

    <br />
    <input type="submit" value="Create" class="btn btn-default" />
}

<div>
    <a class="btn btn-danger btn-sm" href="/Observations" type="button">Cancelar</a>
</div>