@model ObservaTerra.Web.Models.ObservationModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(model => model.Name)
    @Html.ListBoxFor(model => model.ComponentsSelected, Model.Components)

    <input type="submit" value="Crear" class="btn btn-default" />
}

<div>
    <a class="btn btn-danger btn-sm" href="/Observations" type="button">Cancelar</a>
</div>