@model ObservaTerra.DomainModel.Observation
@{
    ViewBag.Title = "DetailsText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Observation details</h2>

<h3>Name:</h3>
@Model.Name

<h3>Author:</h3>
@Model.UserAuthor.Name

<h3>Creation date:</h3>
@Model.CreationDate

<h3>Components:</h3>
<ul>
    @foreach (var component in Model.IComponents)
    {
        <li>@Html.ActionLink(component.Name , "Details", "Components", new { id = component.Id }, null)</li>
    }
</ul>