@model IEnumerable<ObservaTerra.DomainModel.Observation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de observaciones</h2>

@Html.ActionLink("Nuevo", "Create", null, new { @type = "button", @class = "btn btn-primary btn-lg glyphicon-plus btn-sm" })

<table class="table">
    <tr>
        <th>
            <b>Título</b>
        </th>
        <th>
            <b>AUthor</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.Indicator.Name, "Details", "Observations", new { id = item.Id }, null)
            </td>
            <td>
                @item.UserAuthor.Name
            </td>
        </tr>
    }

</table>